.layout-vendigo-article{
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.layout-vendigo-article h1{
    text-align: center;
}