.layout-profile-card{
    grid-row-start: 2;
    padding: 5vh;
    text-align: center;
}

@media screen and (max-width: 479px){
    .layout-profile-card{
        display: block;
    }
    aside.layout-profile-card{
        display: none;
    }
}

.layout-profile-card img{
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    margin-bottom: 1vh;
}