.layout-kontakt-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.layout-kontakt-info a{
    color: var(--font-content-color);
}

@media screen and (max-width: 479px){
    .layout-kontakt-info{
        justify-content: space-between;
        line-height: 2em;
        background-color: var(--content-color);
    }
}
