.layout-skills-gallery{
    display: grid;
    grid-column: 4 / 6;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5vh;
    height: calc(100vh - (var(--gutter) * 2));
    margin: 0;
}

.layout-skills-gallery > * {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.skills-gallery-item-one{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.skills-gallery-item-two{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.skills-gallery-item-three{
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
}