.layout-content-kontakt{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 479px){
    .layout-content-kontakt{
        /* display: block; */
        grid-template-columns: 1fr 1.1fr;
    }
}

.layout-content-kontakt a {
    color: var(--content-color);
}