.layout-primary-navigation{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 480px) { 
    .layout-primary-navigation{
        align-items: center;
    }   
}
