.layout-content-finansering{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gutter);
}

@media screen and (max-width: 479px){
    .layout-content-finansering{
        display: flex;
        flex-direction: column;
    }
    .layout-content-finansering > article{
        order: -1;
    }
}
