@import url("../variables.css");
@import url("layout-primary-navigation.css");
@import url("layout-content-sections.css");
@import url("layout-content-hero-section.css");
@import url("layout-article-small.css");
@import url("layout-skills-gallery.css");
@import url("layout-profile-card.css");
@import url("layout-profile-article.css");
@import url("layout-vendigo-image.css");
@import url("layout-vendigo-article.css");
@import url("layout-content-kompetencer.css");

.grid-container{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-auto-rows: repeat(5, 100vh); 
}

/* @media (min-width: 320px) and (max-width: 480px){  
    .grid-container{
        grid-template-columns: 1fr;
    }
} */

.layout-main-content{
    margin: 0 var(--gutter);
}