.hero-background{
    position: relative;
    display: flex;
    /* background: rgba(241,249,255,0.45); */
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - (var(--gutter) * 2));
}
.hero-background::after{
    position: absolute;
    content: '';
    background-image: url("../../media/building-1245984_960_720.jpg");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 479px){
    .hero-background{
        background-position: center top;
        min-height: fit-content;
        padding: 1vh;
    }
}