.module-content-sections{
    min-height: calc(100vh - (var(--gutter) * 2));
}

.module-content-sections-kontakt{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-image: url("../../media/glad-toemrer.jpg");
    background-size: cover;
    padding: calc(var(--gutter) * 3);
}

@media screen and (max-width: 375px){
    .module-content-sections-kontakt{
        display: block;
        background-position: center top;
    }

    .module-content-sections{
       min-height: 0;
    }
}