.module-kontakt-infobox{
    padding: var(--gutter);
    opacity: 0.9;
    min-width: 45%;
    min-height: 12%;
    background-color: white;
}

@media screen and (max-width: 479px){
    .module-kontakt-infobox{
        display: none;
    }
}