.hero-background{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../media/abstract-architecture.jpg");
    background-size: cover;
    min-height: calc(100vh - (var(--gutter) * 2));
}

@media screen and (max-width: 375px){
    .hero-background{
        background-position: center bottom;
    }
}