.uppercase-letters{text-transform: uppercase;}

.hero-title{font-size: 3em;}

.strong-letters{font-weight: bold;}

.line-height-double{line-height: 2.5em;}

.line-height-half{line-height: 1.5em;}

.font-color-white{color: var(--white);}

.font-size-scale{font-size: 1.15em;}

.font-size-scale-dubble{font-size: 1.5em;}

.theme-background-color{background-color: var(--content-color);}

.padding-left-right{padding: 0 10vh;}

@media screen and (max-width: 375px){
    .padding-left-right{
        padding: 5vh;
    }
}

.section-gutter{height: var(--gutter);}

.content-background-color{background-color: var(--content-color);}