.uppercase-letters{
    text-transform: uppercase;
}

.strong-letters{
    font-weight: bold;
}

.line-height-double{
    line-height: 2.5em;
}
.line-height-half{
    line-height: 1.5em;
}

.font-color-white{
    color: #FFFFFF;
}