:root {
    --content-color: #F1F9FF;
    --font-content-color: #425A6F;
    --white: #FFFFFF;
    --gutter: 2vh;
    --red: #e1001d;
    --gray: #8e9093;
    --black: #000000;
    --green: #86E2BF;
}